body {
    background-color: #f0f8ff; /* Light Blue */
}


#main{
    
    background-repeat:  no-repeat;
    background-size: cover;    
    height: auto;
    width: 80%;
    margin: auto;
    border-radius: 10px;
}
html{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height:50vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,3,0.3),rgba(4,9,3,0.3)),url(image1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-image: url(../image.jpg);
}
nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
 
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.nav-links ul li:after{
    content:'';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover:after{
    width: 100%;

}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    font-style: normal;
    font-size: 67px;
    transform: translate(-50%,-50%);
    text-align: center;
    font-weight: 900;
    
}
.body{
    margin-top: 5%;
}
.page p{
    font-size: 21px;
    font-weight: 200;
    color:black;
    
}
.page {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: black;
}
p{
    font-size: 20px;
    font-weight: 200;
    color: black;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.column{
    flex-basis: 31%;
    background: orange;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.1s;
    
}
.column p{
    color: black;
}
h3{
    text-align: center;
    font-weight:600;
    margin: 10px 0;
}
.column:hover{
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
}
/*----place*/
.place{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    
}
.school-plc{
    flex-basis: 32%;
    border-radius:10px;
    margin-bottom:30px;
    position:relative;
    overflow: hidden;
}
 .school-plc img{
    width:100%;
    display: block;
  
}
.school-plc1{
    flex-basis: 32%;
    border-radius:10px;
    margin-bottom:30px;
    position:relative;
    overflow: hidden;
}
.school-plc1 img{
    width:100%;
    background-size: cover;
    display: block;
    height: 308px;
   
}
   
.layer{
    background: transparent;
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}
.layer:hover{
 background:rgba(226,0,0,0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%);
    opacity: 0;
    position: absolute;
} 
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}


.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:100px;
    
}
.facilities p{
    color: #000000;
    font-weight:500;
}
.facilites-col{ 
    
    border-radius: 10px;
    margin-bottom: 1%;
    
}
.facilites-col img{
    height: 85%;
    width: 100%;
    border-radius:10px;
}
.facilities-col p{
    padding: 0;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

#footer {
 width: 100%;
    text-align: center;
   
    padding: 10px 0;
}

.icon {
    flex-basis: 31%;
    color: #f44336;
    margin-bottom: 12px;
    padding: 5px 12px;

    
}
.icon .fa{
    color: #f44336;
    margin-bottom: 12px;
    padding: 10px 12px;
    cursor: pointer; 
}
.last{
   
    color: #f44336;
    padding: 10px 10px;
}

